<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>Introduction of Kotlin</li>
                    <li>Development Setup</li>
                    <li>Kotlin Programming Language</li>
                    <li>Kotlin - Operations and Operators</li>
                    <li>Kotlin Language - Decision Making</li>
                    <li>What/Why is Kotlin Programming Language?</li>
                    <li>Variables</li>
                    <li>Functions</li>
                    <li>Compile & Run</li>
                    <li>Syntax and APIs in Kotlin</li>
                    <li>Collections (Array and Dictionary)</li>
                    <li>Condition & Looping Programming</li>
                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image"
                src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>
