a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    position: relative;
}

a:after {
    border-radius: 1em;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1);
}

a:hover:after {
    right: 0;
}

#details {
    position: relative;
    display: block
}

#details {
    background-color: #fff;
    background-image: none
}

#details::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#details>.row .container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#details>.row .container>.video-iframe-container {
    display: none
}

#details>.row>.video-iframe-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#details>.row>.video-iframe-container {
    display: none
}

#details>.row .container>.video-iframe-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#details {
    border-width: 0;
    border-radius: 0
}

#details>.row .container {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #fff;
    background-image: none;
    font-size: 14px;
    font-family: prompt;
    height: 900px;
    width: 1200px;
    position: relative;
    display: block
}

#header {
    color: #3675B5;
    display: block;
    width: 366px;
    position: absolute;
    font-family: prompt;
    font-size: 46px;
    font-weight: 700;
    z-index: 100000;
    line-height: 1.3;
    letter-spacing: 0;
    text-shadow: 2px 3px 1px rgba(0, 14, 44, .46);
    top: 65px;
    left: 664.00003051758px;
    height: 59.2px;
    font-style: italic;
    text-align: center;
    text-align-last: center;
    display: block;
}

#title {
    color: #3675B5;
    display: block;
    width: 482px;
    position: absolute;
    font-family: prompt;
    font-size: 20px;
    font-weight: 400;
    z-index: 100007;
    line-height: 1.6;
    letter-spacing: 0;
    top: 200px;
    left: 608.00003051758px;
    height: 175px;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    display: block
}

#title li:not(:first-child) {
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
}

#titleBox {
    position: absolute;
    display: block;
    z-index: 99997;
    background-color: transparent;
    background-image: -webkit-linear-gradient(147deg, #ffebf2, #f7e6d7);
    background-image: -moz-linear-gradient(147deg, #ffebf2, #f7e6d7);
    background-image: -ms-linear-gradient(147deg, #ffebf2, #f7e6d7);
    background-image: -o-linear-gradient(147deg, #ffebf2, #f7e6d7);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffebf2', endColorstr='#f7e6d7');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebf2', endColorstr='#f7e6d7' );";
    background-image: linear-gradient(90deg, rgba(255, 235, 242, 1) 100%, rgba(247, 230, 215, 1) 100%);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    height: 280px;
    width: 546px;
    top: 170px;
    left: 574.00003051758px;
    display: block
}

#boxButton {
    background-color: transparent;
    background-image: -webkit-linear-gradient(-180deg, #34d058, #28a745 90%);
    background-image: -moz-linear-gradient(-180deg, #34d058, #28a745 90%);
    background-image: -ms-linear-gradient(-180deg, #34d058, #28a745 90%);
    background-image: -o-linear-gradient(-180deg, #34d058, #28a745 90%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#34d058', endColorstr='#28a745');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#34d058', endColorstr='#28a745' );";
    background-image: linear-gradient(189deg, #34d058, #28a745);
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .13);
    box-sizing: border-box;
    color: #fff;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    display: block;
    font-family: prompt;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    line-height: 2;
    overflow: hidden;
    position: absolute;
    width: 258px;
    height: 76px;
    text-decoration: none;
    z-index: 100004;
    text-align: center;
    text-align-last: center;
    top: 750px;
    left: 500px;
    display: block
}

#pictureDetaile {
    position: absolute;
    display: block;
    z-index: 99996;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 700px;
    width: 700px;
    top: 50px;
    left: 0px;
    overflow: hidden;
    display: block
}

@media only screen and (max-width:763px) {
    #pictureDetaile {
        top: 65px;
        left: 0;
        width: 590px;
        height: 592px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #pictureDetaile {
        width: 284px;
        height: 284px;
        top: 263.00003051758px;
        left: 18px;
        z-index: 99996;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #boxButton {
        width: 258px;
        height: 76px;
        top: 424px;
        left: 0;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #boxButton {
        width: 257px;
        height: 58px;
        top: 700px;
        left: 55px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #details {
        display: block
    }
    #details>.row .container {
        width: 764px;
        height: 298px;
        position: relative;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #details {
        display: block
    }
    #details>.row .container {
        width: 320px;
        height: 800px;
        position: relative;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #header {
        top: 65px;
        left: 398px;
        width: 366px;
        height: 59px;
        font-size: 46px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #header {
        width: 320px;
        height: 44px;
        top: 42px;
        left: 0;
        font-size: 34px;
        color: rgba(18, 84, 111, .99);
        display: block
    }
}

@media only screen and (max-width:763px) {
    #title {
        top: 178px;
        left: 282px;
        width: 482px;
        height: 175px;
        font-size: 20px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #title {
        width: 270px;
        height: 177px;
        top: 112.80000305176px;
        left: 25.000001907349px;
        font-size: 17px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #titleBox {
        width: 305px;
        height: 215px;
        top: 94.387603759766px;
        left: 7px;
        background-color: transparent;
        background-image: -webkit-linear-gradient(90deg, rgba(255, 235, 242, 1) 100%, rgba(247, 230, 215, 1) 100%);
        ;
        background-image: -moz-linear-gradient(90deg, rgba(255, 235, 242, 1) 100%, rgba(247, 230, 215, 1) 100%);
        ;
        background-image: -ms-linear-gradient(90deg, rgba(255, 235, 242, 1) 100%, rgba(247, 230, 215, 1) 100%);
        ;
        background-image: -o-linear-gradient(90deg, rgba(255, 235, 242, 1) 100%, rgba(247, 230, 215, 1) 100%);
        ;
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffebf2', endColorstr='#f7e6d7');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebf2', endColorstr='#f7e6d7' );";
        background-image: linear-gradient(90deg, rgba(255, 235, 242, 1) 100%, rgba(247, 230, 215, 1) 100%);
        ;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #titleBox {
        top: 100px;
        left: 0px;
        width: 340px;
        height: 554px;
        display: block
    }
}

body {
    font-family: sans-serif;
    background-color: #81d4fa;
    font-weight: bold;
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: transparent;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}