<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>Classes, Instances, Attributes And Methods</li>
                    <li>Defining A Class</li>
                    <li>Instance Methods</li>
                    <li>Instance Attributes</li>
                    <li>Restricting and Sorting Data</li>
                    <li>Encapsulation</li>
                    <li>Encapsulation</li>
                    <li>Class Attributes</li>
                    <li>Working With Class And Instance Data</li>

                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image" src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>