<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>Introduction of SQL</li>
                    <li>RDBMS Concept</li>
                    <li>Type of SQL</li>
                    <li>Writing Basic SQL SELECT Statements</li>
                    <li>Restricting and Sorting Data</li>
                    <li>Single-Row Functions</li>
                    <li>Displaying Data from Multiple Tables</li>
                    <li>Oracle Funcation</li>
                    <li>Manipulating Data</li>
                    <li>Creating and Managing Tables</li>
                    <li>Aggregating Data Using Group Functions</li>
                    <li>Subqueries</li>
                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image"
                src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>