<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>What is NestJS?</li>
                    <li>Installing Node.js and NPM</li>
                    <li>REST API - Task Management Application </li>
                    <li>Introduction to NestJS Modules </li>
                    <li>Introduction to NestJS Modules </li>
                    <li>Creating a Tasks Controller </li>
                    <li>Creating a Tasks Service </li>
                    <li>Feature: Getting all Tasks </li>
                    <li>Validation and Error Handing</li>

                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image" src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>