/* กรอบหน้าปก */

#boxContent {
    background-color: rgb(222, 239, 253);
    /* background-image: url(/assets/contact-background.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    display: block
}

#boxContent>.row .container {
    background-color: transparent;
    background-image: none
}

#boxContent::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#boxContent>.row .container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#boxContent>.row .container>.video-iframe-container {
    display: none
}

#boxContent>.row>.video-iframe-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#boxContent>.row>.video-iframe-container {
    display: none
}

#boxContent>.row .container>.video-iframe-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#boxContent>.row .container {
    border-width: 0;
    border-radius: 0
}

#boxContent>.row .container {
    width: 1200px;
    height: 608px;
    font-size: 14px;
    font-family: prompt;
    position: relative;
    display: block
}

@media only screen and (max-width:763px) {
    #boxContent {
        display: block
    }
    #boxContent>.row .container {
        width: 764px;
        position: relative;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #boxContent {
        background-color: rgba(199, 199, 208, .13);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        display: block
    }
    #boxContent>.row .container {
        background-color: transparent;
        background-image: none
    }
    #boxContent::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent
    }
    #boxContent>.row .container::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent
    }
    #boxContent>.row .container>.video-iframe-container {
        display: none
    }
    #boxContent>.row>.video-iframe-container::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent
    }
    #boxContent>.row>.video-iframe-container {
        display: none
    }
    #boxContent>.row .container>.video-iframe-container::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent
    }
    #boxContent>.row .container {
        border-width: 0;
        border-radius: 0
    }
    #boxContent>.row .container {
        width: 320px;
        height: 518px;
        position: relative;
        display: block
    }
}

/* header  */

#header {
    color: #012342; /*สีฟ้อน*/
    display: block;
    width: 718px;
    position: absolute;
    font-family: 'Kanit', sans-serif; /*ชื่อฟ้อน ต้อง importก่อน*/
    font-size: 60px;
    font-weight: 700;
    z-index: 100007;
    line-height: 1.3;
    letter-spacing: 0;
    top: 160px;
    left: 10px;
    height: 144px;
    text-align: left;
    text-align-last: left;
    font-style: normal;
    display: block
}

@media only screen and (max-width:763px) {
    #header {
        top: 159px;
        left: 0;
        width: 718px;
        height: 145px;
        font-size: 26px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #header {
        width: 320px;
        height: 99px;
        top: 121px;
        left: 0;
        font-size: 26px;
        text-align: center;
        text-align-last: center;
        display: block
    }
}

/* register button  */

#boxButton {
    background-color: transparent;
    background-image: -webkit-linear-gradient(-180deg, rgb(93, 188, 210), rgb(93, 188, 210) 90%);
    background-image: -moz-linear-gradient(-180deg, rgb(93, 188, 210), rgb(93, 188, 210) 90%);
    background-image: -ms-linear-gradient(-180deg, rgb(93, 188, 210), rgb(93, 188, 210) 90%);
    background-image: -o-linear-gradient(-180deg, rgb(93, 188, 210), rgb(93, 188, 210) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34d058', endColorstr='#28a745');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#34d058', endColorstr='#28a745' );";
    background-image: linear-gradient(189deg, rgb(93, 188, 210), rgb(93, 188, 210));
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .13);
    box-sizing: border-box;
    color: #fff;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    display: block;
    font-family: prompt;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    overflow: hidden;
    position: absolute;
    width: 258px;
    height: 76px;
    text-decoration: none;
    z-index: 100004;
    text-align: center;
    text-align-last: center;
    top: 424px;
    left: 400px;
    display: block
}

@media only screen and (max-width:763px) {
    #boxButton {
        width: 258px;
        height: 76px;
        top: 424px;
        left: 0;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #boxButton {
        width: 257px;
        height: 58px;
        top: 315.00003051758px;
        left: 80px;
        display: block
    }
}

/* Text button  */

#textButton {
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: 100000;
    display: block
}

@media only screen and (max-width:763px) {
    #textButton {
        display: block
    }
}

@media only screen and (max-width:763px) {
    #textButton {
        display: block
    }
}

/* box detaile  */

#boxDetaile {
    background-color: #fff;
    background-image: none;
    background-position: top left;
    background-repeat: repeat;
    background-attachment: scroll;
    border-top: 1px solid rgb(93, 188, 210);
    border-left: 1px solid rgb(93, 188, 210);
    border-right: 1px solid rgb(93, 188, 210);
    border-bottom: 1px solid rgb(93, 188, 210);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-sizing: border-box;
    color: rgb(93, 188, 210)1;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    display: block;
    font-family: 'prompt';
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    overflow: hidden;
    position: absolute;
    width: 258px;
    height: 76px;
    text-decoration: none;
    z-index: 100005;
    text-align: center;
    text-align-last: center;
    top: 424px;
    left: 700px;
    display: block;
}

@media only screen and (max-width:763px) {
    #boxDetaile {
        width: 258px;
        height: 76px;
        top: 424px;
        left: 182.00003051758px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #boxDetaile {
        width: 257px;
        height: 58px;
        top: 393.00003051758px;
        left: 80px;
        display: block
    }
}

/* textDetaile */

#textDetaile {
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    z-index: 100000;
    display: block
}

@media only screen and (max-width:763px) {
    #textDetaile {
        display: block
    }
}

@media only screen and (max-width:763px) {
    #textDetaile {
        display: block
    }
}

#pictureCover {
    position: absolute;
    display: block;
    z-index: 99995;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 270px;
    width: 230px;
    top: 190px;
    left: 1200px;
    overflow: hidden;
    display: block;
}

@media only screen and (max-width: 763px) {
    #pictureCover {
        width: 227px;
        height: 227px;
        top: 451.00003051758px;
        left: 46.500001907349px;
        display: none;
    }
}
body {
    font-family: sans-serif;
    background-color: #81d4fa;
    font-weight: bold;
}
.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}
.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #fff;
    color: rgb(93, 188, 210);
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn-white::after {
    background-color: transparent;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
   }
    100% {
        opacity: 1;
        transform: translateY(0px);
   }
}
