<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>Why, What and How to use NodeJS</li>
                    <li>Hello World</li>
                    <li>Node Package Manager</li>
                    <li>npm</li>
                    <li>Asynchronous vs Synchronous</li>
                    <li>File System</li>
                    <li>Read and Write Stream</li>
                    <li>Piping : Output of one stream as input to the next stream</li>
                    <li>Exec</li>

                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image" src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>