/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
  }

.form-control.ng-invalid.ng-dirty:focus, .form-control.ng-invalid.ng-touched:focus {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}

.form-control.ng-invalid.ng-dirty:focus~.invalid-feedback, .form-control.ng-invalid.ng-touched:focus~.invalid-feedback {
    display: block;
}