<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>Introduction</li>
                    <li>Swift 4.0 Basics</li>
                    <li>Swift 4.0 Constants, Variables and more</li>
                    <li>Swift 4.0 Variables and more</li>
                    <li>Swift Collections</li>
                    <li>Swift Optionals</li>
                    <li>Swift Functions</li>
                    <li>Swift Classes</li>
                    <li>Swift Structs</li>

                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image" src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>