h1 {
    font-weight: 700;
}

#detailForm .widget-regular-label {
    height: auto;
    display: none;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #19232e;
    width: 369px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: transparent;
    background-image: none;
    vertical-align: top;
    text-align: left;
    text-align-last: left;
    z-index: 1;
}

#detailForm .widget-input-text {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    background-image: none;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    display: block;
    width: 369px;
    box-sizing: border-box;
    height: 41px;
    color: #161616;
    font-size: 13px;
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

#detailForm .widget-input-text {
    padding-top: 0;
    padding-bottom: 0
}

#detailForm .widget-textarea {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    background-image: none;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    display: block;
    width: 369px;
    box-sizing: border-box;
    height: 70px;
    color: #161616;
    font-size: 13px;
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

#detailForm .widget-input-select {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    background-image: none;
    border-top: 1px solid #d6d4d4;
    border-right: 1px solid #d6d4d4;
    border-bottom: 1px solid #d6d4d4;
    border-left: 1px solid #d6d4d4;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    display: block;
    width: 369px;
    box-sizing: border-box;
    height: 40px;
    color: #161616;
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    overflow: hidden;
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

#detailForm .widget-input-select {
    padding-top: 0;
    padding-bottom: 0
}

#detailForm .widget-input-checkbox {
    width: 13px;
    height: 13px;
    box-sizing: border-box;
    margin-top: 0;
    margin-right: 3px;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    vertical-align: top
}

#detailForm .widget-input-checkbox {
    box-sizing: border-box;
    padding: 1px
}

#detailForm .widget-input-button {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ff2525;
    background-image: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 4px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4px;
    display: block;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    width: 369px;
    height: 65px;
    font-family: 'Prompt', sans-serif;
    overflow: hidden
}

#detailForm [class*=-text]:-moz-placeholder {
    color: #ccc;
    font-family: 'Prompt', sans-serif;
    font-size: 13px
}

#detailForm [class*=-text]::-moz-placeholder {
    color: #ccc;
    font-family: 'Prompt', sans-serif;
    font-size: 13px
}

#detailForm [class*=-text]:-ms-input-placeholder {
    color: #ccc;
    font-family: 'Prompt', sans-serif;
    font-size: 13px
}

#detailForm [class*=-text]::-webkit-input-placeholder {
    color: #ccc;
    font-family: 'Prompt', sans-serif;
    font-size: 13px
}

#detailForm .widget-checkbox-label {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: auto;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #161616;
    vertical-align: top;
    width: 353px;
    overflow: hidden;
    font-style: normal
}

#detailForm .widget-input-radio {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    clear: left;
    width: 16px;
    height: 16px;
    margin-top: 0;
    margin-right: 3px;
    margin-bottom: 0;
    margin-left: 3px;
    vertical-align: middle
}

#detailForm .widget-radio-label {
    display: inline;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #161616;
    overflow: hidden;
    font-style: normal;
    line-height: 1.3
}

#detailForm .widget-container {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
    width: 100%;
    font-size: 0;
    height: auto
}

#detailForm .widget-container:first-of-type {
    padding-top: 0
}

#detailForm .widget-container:last-of-type {
    padding-bottom: 0
}

#detailForm {
    background-color: transparent;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: initial;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 369px;
    height: auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    left: 395.50003051758px;
    top: 86px;
    position: absolute
}

#detailForm .radio-container {
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    width: 369px;
    display: block;
}

#detailForm .widget-info-text {
    display: block;
    height: auto;
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 300;
    color: #19232e;
    overflow: hidden;
    font-style: normal;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0
}

#detailForm {
    display: block
}

#detailForm {
    background-color: transparent;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: initial;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 369px;
    height: auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    left: 420px;
    top: 130px;
    position: absolute
}

#detailForm #emailBox {
    position: relative
}

#detailForm #emailText {
    position: relative
}

#detailForm #emailInput {
    position: relative
}

#detailForm #nameBox {
    position: relative
}

#detailForm #nametext {
    position: relative
}

#detailForm #nameInput {
    position: relative
}

#detailForm #phoneBox {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #phoneText {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #phoneInput {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #addressBox {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #addressText {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #C4t0TcLyTK70xwEunuhPCPxwkTpHGghT {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #radioBox {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #radioBox .container-column {
    width: 50%
}

#detailForm #radiotitle {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #radio1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2
}

#detailForm #radiotext1 {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #radio2 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2
}

#detailForm #radiotext2 {
    position: relative;
    top: 0;
    left: 0
}

#detailForm #buttonbox {
    position: relative
}

#detailForm #buttonText {
    position: relative
}

#detailForm #discriptBoc {
    position: relative;
    display: block;
    z-index: 100000;
    top: 0;
    left: 0
}

#detailForm #discriptText {
    position: relative;
    display: block;
    z-index: 100000
}

@media only screen and (max-width:763px) {
    #detailForm .widget-regular-label {
        width: 369px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    #detailForm .widget-input-text {
        width: 369px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm .widget-input-text {
        padding-top: 0;
        padding-bottom: 0
    }
    #detailForm .widget-textarea {
        width: 369px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm .widget-input-select {
        width: 369px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm .widget-input-select {
        padding-top: 0;
        padding-bottom: 0
    }
    #detailForm .widget-input-button {
        width: 369px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm .widget-checkbox-label {
        width: 353px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    #detailForm {
        width: 369px;
        height: auto;
        top: 86px;
        left: 177.50003051758px
    }
    #detailForm .radio-container {
        width: 369px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm {
        display: block
    }
    #detailForm {
        width: 369px;
        height: auto;
        top: 86px;
        left: 177.50003051758px
    }
}

@media only screen and (max-width:763px) {
    #detailForm #radioBox .container-column {
        width: 50%
    }
}

@media only screen and (max-width:763px) {
    #detailForm .widget-regular-label {
        width: 280px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    #detailForm .widget-input-text {
        width: 280px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm .widget-input-text {
        padding-top: 0;
        padding-bottom: 0
    }
    #detailForm .widget-textarea {
        width: 280px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm .widget-input-select {
        width: 280px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm .widget-input-select {
        padding-top: 0;
        padding-bottom: 0
    }
    #detailForm .widget-input-button {
        width: 280px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0;
        font-size: 22px;
        overflow: hidden
    }
    #detailForm .widget-checkbox-label {
        width: 264px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    #detailForm {
        width: 280px;
        height: auto;
        top: 95.087646484375px;
        left: 0;
        background-color: transparent;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: initial
    }
    #detailForm .radio-container {
        width: 280px;
        margin-top: 4px;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0
    }
    #detailForm {
        display: block
    }
    #detailForm {
        width: 280px;
        height: auto;
        top: 95.087646484375px;
        left: 80px;
        background-color: transparent;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: initial
    }
}

@media only screen and (max-width:763px) {
    #detailForm #radioBox .container-column {
        width: 50%
    }
}



#header {
    color: #000;
    display: block;
    width: 397px;
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    font-weight: 400;
    z-index: 100012;
    line-height: 1.3;
    letter-spacing: 0;
    top: 57px;
    left: 402.00003051758px;
    height: 31px;
    text-align: center;
    text-align-last: center;
    display: block
}

@media only screen and (max-width:763px) {
    #header {
        width: 320px;
        height: 26px;
        top: 74.487503051758px;
        left: 0;
        font-size: 20px;
        display: block
    }
}

@media only screen and (max-width:763px) {
    #header {
        top: 57px;
        left: 184.00003051758px;
        width: 397px;
        height: 31px;
        font-size: 20px;
        display: block
    }
}

#registerForm {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #f8e2e2;
    background-image: none;
    position: relative;
    display: block
}

#registerForm>.row .container {
    background-color: transparent;
    background-image: none
}

#registerForm::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#registerForm>.row .container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/header-background.jpg;);
}

#registerForm>.row .container>.video-iframe-container {
    display: none
}

#registerForm>.row>.video-iframe-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#registerForm>.row>.video-iframe-container {
    display: none
}

#registerForm>.row .container>.video-iframe-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

#registerForm>.row .container {
    border-width: 0;
    border-radius: 0
}

#registerForm>.row .container {
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    height: 600px;
    width: 1200px;
    position: relative;
    display: block
}

#registerBox {
    position: absolute;
    display: block;
    background-color: #fff;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 450px;
    width: 530px;
    top: 100px;
    left: 340px;
    display: block
}

.display-4 {
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

@media only screen and (max-width: 763px) {
    #registerForm {
        display: block;
    }
}

@media only screen and (max-width: 763px) {
    #registerBox {
        width: 320px;
        height: 507px;
        top: 40px;
        left: 60px;
        display: block;
    }
}
button {
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    margin-top:50px;
    color: white;
    margin-left: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
  button:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  }