<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>What is JavaScript?</li>
                    <li>JavaScript in Browsers</li>
                    <li>Separation of Concerns</li>
                    <li>JavaScript in Node</li>
                    <li> Variables</li>
                    <li>Constants</li>
                    <li>Primitive Types</li>
                    <li> Dynamic Typing</li>
                    <li>Objects</li>
                    <li>Arrays</li>
                    <li>Functions</li>
                    <li>Types of Functions</li>
                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image" src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>