<div id="details" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>หัวข้อการฝึกอบรม</p>
            </div>
            <div id="title" class="widget widget-text">
                <ol>
                    <li>Android SDK Setup</li>
                    <li>Setup emulator in Android Studio</li>
                    <li>Create user interface with java :<br>How to develop interface of android</li>
                    <li>Important things to learn about android studio</li>
                    <li>Create Android Virtual Device Emulator</li>
                    <li>How to built user interface using java</li>
                    <li>How to add properties to widgets/views</li>
                    <li>How To Convert DIP To Pixels</li>
                    <li>Creating Design For A Simple android</li>
                    <li>Creating Workout Adviser android</li>
                </ol>
            </div>
            <div id="titleBox" class="widget widget-box"></div>
            <img id="pictureDetaile" class="widget widget-image"
                src="\assets\Boy with Tablet Illustration.png">

            <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
            </a>
        </div>
    </div>
</div>