<div id="boxContent" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>เรียน Line Developer ขั้นพื้นฐาน</p>
                <div>ครบจบในคอร์สเดียว</div>
                <p></p>
            </div>

        </div>
        <a href="#registerBox" id="boxButton" class="widget widget-button btn btn-white btn-animate" version="3" subtype="anchor">
            <div class="widget-overlay"></div>
            <div id="textButton" class="widget widget-text ">ลงทะเบียน</div>
        </a>
            <a href="#details" id="boxDetaile" class="btn btn-white btn-animate" version="3" subtype="anchor">
                <div class="widget-overlay"></div>
                <div id="textDetaile" class="widget widget-text">รายละเอียด</div>
            </a>

        <img id="pictureCover" width="525" height="525" class="widget widget-image" src="/assets/line/line1.png">
    </div>
</div>